@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Eiko';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Eiko/PPEiko-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Neue Montreal/PPNeueMontreal-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Neue Montreal/PPNeueMontreal-Medium.woff2') format('woff2');
}

@theme {
  --font-sans: 'Neue Montreal', sans-serif;
  --font-serif: 'Eiko', serif;
  --font-weight-normal: 300;
  --font-weight-bold: 500;

  --color-primary: #7E1010;
}

@layer base {
  html { @apply overflow-x-auto h-full; }
  body { @apply text-gray-800 font-light tracking-tight font-sans h-full; }
  h1, h2, h3, h4, h5, h6 { @apply font-serif; }
  h1 { @apply text-6xl text-primary; }
  h2 { @apply text-3xl text-gray-700; }
  .font-serif { @apply tracking-tighter; }
}

@layer components {
  .card { @apply rounded border border-gray-800/40 backdrop-blur-[2px] bg-gray-50/60 shadow-lg shadow-gray-800/5; }
  .card-bg { @apply bg-gray-50/60 backdrop-blur-[2px]; }
  .card-border { @apply border-gray-800/40; }
}